@if (pagination) {
	<div class="py-5 flex justify-between">
		<div class="text-sm text-gray-500 font-light">
			Showing
			{{ showingEntries() }}
			of {{ pagination.totalRecords }} Entries
		</div>
		<nav aria-label="Page navigation example">
			<ul class="flex items-center -space-x-px h-8 text-sm">
				<li>
					<button
						type="button"
						[disabled]="!pagination.prevPage"
						(click)="goToPage(pagination.prevPage ?? 1)"
						[ngClass]="{ 'cursor-not-allowed': !pagination.prevPage }"
						class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
					>
						<span class="sr-only">Previous</span>
						<svg
							class="w-2.5 h-2.5 rtl:rotate-180"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 6 10"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M5 1 1 5l4 4"
							/>
						</svg>
					</button>
				</li>
				@if (pagination.currentPage > 6) {
					<li>
						<span
							class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
						>
							...
						</span>
					</li>
				}
				@for (page of pages; track page) {
					<li>
						<button
							type="button"
							(click)="goToPage(page)"
							[ngClass]="{
								'text-blue-600 bg-blue-50 hover:bg-blue-100 hover:text-blue-700  dark:bg-gray-700 dark:text-white':
									isCurrentPage(page),
								'text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white':
									!isCurrentPage(page),
							}"
							class="flex items-center justify-center px-3 h-8 leading-tight border border-gray-300"
						>
							{{ page }}
						</button>
					</li>
				}
				@if (pagination.currentPage + 5 < pagination.totalPages) {
					<li>
						<span
							class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
						>
							...
						</span>
					</li>
				}
				<li>
					<button
						type="button"
						[disabled]="!pagination.nextPage"
						(click)="goToPage(pagination.nextPage ?? pagination.totalPages)"
						[ngClass]="{ 'cursor-not-allowed': !pagination.nextPage }"
						class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
					>
						<span class="sr-only">Next</span>
						<svg
							class="w-2.5 h-2.5 rtl:rotate-180"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 6 10"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="m1 9 4-4-4-4"
							/>
						</svg>
					</button>
				</li>
			</ul>
		</nav>
	</div>
}
